.projects_layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projects_project {
  display: flex;
  flex-direction: column;
  width: 45%;
  padding: .5rem 1rem;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 5px #9ca3af;
}

.projects_project:nth-child(-n+2) {
  margin-bottom: 1rem;
}

.projects_project:hover {
  cursor: pointer;
}

.projects_project_image {
  width: 100%;
  height: 200px;
}

.projects_project_title {
  font-size: 18px;
  color: #1F2937;
  margin: .5rem 0;
}

.projects_project_description {
  font-size: 16px;
  color: #9CA3AF;
  font-weight: 400;
}