.bar {
  border-radius: 10px;
  box-shadow: 1px 1px 5px black;
  background-color: white;
  height: 50px;
}

.bar_menu {
  display: flex;
  width: 600px;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

.bar_menu a {
  text-decoration: none;
}

.currentLink { 
  color: #7C3AED
}

.notActive {
  color: black;
}