.bar {
  border-radius: 10px;
  box-shadow: 1px 1px 5px black;
  background-color: white;
  height: 50px;
}

.bar_menu {
  display: flex;
  width: 600px;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

.bar_menu a {
  text-decoration: none;
}

.bar_menu p {
  font-weight: 600;
}

.currentLink { 
  color: #7C3AED
}

.notActive {
  color: black;
}


@media screen and (max-width: 600px) {

  .bar {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    width: 90%;
    margin: 2rem auto 0 auto;
  }

  .bar_menu {
    justify-content: space-around;
  }

}

@media screen and (min-width: 768px) {
  
  .bar_menu {
    width: 100%;
  }

}

@media screen and (min-width: 992px) {

  .bar_menu {
    width: 600px;
  }

}