.bar {
  border-radius: 10px;
  border: 1px solid black;
  background-color: white;
}

.bar_menu {
  display: flex;
  width: 600px;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

.bar_menu a {
  text-decoration: none;
}

.currentLink { 
  color: blue
}

.notActive {
  color: black;
}